<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Caja de Pandora</title>
</head>
<body>
    <h1>La Caja de Pandora</h1>
    <ul>
        <li>Django es un framework de Python que facilita la creación de aplicaciones web.</li>
        <li>Django tiene una gran comunidad de desarrolladores y una comunidad activa de usuarios.</li>
        <li>Django siempre está actualizado con las últimas versiones de Python.</li>
    </ul>
    <footer>Hecho en Coder año {{time_actual}}</footer>
</body>
</html>